<!DOCTYPE html>
<html lang="en">
<head>
  <title>Your Employer Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<br />
<br />
<div class="card">
    <h5 class="card-header">Your Employer Profile</h5>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter your name">
            </div>
            <div class="form-group">
                <label for="contact">Contact Number</label>
                <input type="text" class="form-control" id="contact" placeholder="Enter your contact number">
                <small id="userId" class="form-text text-muted">We'll never share your contact with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="designation">Designation</label>
                <input type="text" class="form-control" id="designation" placeholder="Enter your designation">
            </div>
            <div class="form-group">
                <label for="company">Company</label>
                <input type="text" class="form-control" id="company" placeholder="Enter your company">
            </div>
            <div class="form-group">
                <label for="company">Location</label>
                <input type="text" class="form-control" id="company" placeholder="Enter your Location">
            </div>
        </form>
        <br />
        <a href="home" class="btn btn-success d-block">Confirm changes</a>
    </div>
</div>

<br />
<br />