<!DOCTYPE html>
<html lang="en">
<head>
  <title>Job Application Confirmation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<br />
<div class="card">
    <h5 class="card-header bg-primary text-white">Wanna post job?</h5>
    <div class="card-body">
        <form>
            <div class="form-group row justify-content">
                <div class="col-sm-4">
                <input type="text" class="form-control" id="jobTitle" placeholder="Search Job Title">
                </div>
                <div class="col-sm-4">
                <input type="text" class="form-control" id="location" placeholder="In Location">
                </div>
                <div class="dropdown col-sm-4">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="category">With Category</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Pune</a>
                    <a class="dropdown-item" href="#">Bengaluru</a>
                    <a class="dropdown-item" href="#">Hyderabad</a>
                    <a class="dropdown-item" href="#">Kolkata</a>
                </div>
                </div>
            </div>
        </form>
        <br />
        <a href="#" class="btn btn-success d-block">Post Jobs</a>
    </div>
</div>

<br />

<div class="card">
<h5 class="card-header bg-primary text-white">Your Stats</h5>
<!-- Start blog-posts Area -->
    <div class="card-body">
        <p class="card-text">Jobs posted</p>
        <p class="card-text">Total Applications Received</p>
        <p class="card-text">Applications per Job</p>
        <p class="card-text">Profiles viewed</p>
    </div>
</div>

<br/>

<div class="card">
    <h5 class="card-header bg-success text-white">Featured Organizations on JobCentral</h5>
    <div class="card-body">
        <!-- start cards -->
        <div class="row justify-content-center">
        <div class="card" id="card-grid">
            <div class="container">
                <a href="#"><h4>Zensar</h4></a>
            </div>
            </div> 
            <div class="card" id="card-grid">
                <div class="container">
                <a href="#"><h4>TCS</h4></a>
                </div>
            </div> 
            <div class="card" id="card-grid">
                <div class="container">
                <a href="#"><h4>Accenture</h4></a>
                </div>
            </div> 
            <div class="card" id="card-grid">
                <div class="container">
                <a href="#"><h4>Capgemini</h4></a>
                </div>
            </div> 
        </div>
        <!-- end card -->
    </div>
</div>

<br />
<br />

<div class="card">
    <h5 class="card-header bg-primary text-white">Featured Job Categories on JobCentral</h5>
    <div class="card-body">
        <!-- start cards -->
        <div class="row justify-content-center">
        <div class="card" id="card-grid">
            <div class="container">
                <a href="#"><h4>Information Technology </h4></a>
            </div>
            </div> 
            <div class="card" id="card-grid">
                <div class="container">
                <a href="#"><h4>Marketing</h4></a>
                </div>
            </div> 
            <div class="card" id="card-grid">
                <div class="container">
                <a href="#"><h4>Healthcare</h4></a>
                </div>
            </div> 
            <div class="card" id="card-grid">
                <div class="container">
                <a href="#"><h4>Part-time</h4></a>
                </div>
            </div> 
        </div>
        <!-- end card -->
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

</body>
</html>