<!DOCTYPE html>
<html lang="en">
<head>
  <title>Job Application Confirmation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<br />
<br />
<div class="card">
    <h5 class="card-header">Details for Job ID: </h5>
    <div class="card-body">
        <p class="card-title"><b>Job Title: </b></p>
        <p class="card-title"><b>Company: </b></p>
        <p class="card-text"><b>Positions vacant: </b></p>
        <p class="card-text"><b>Job Location: </b></p>
        <p class="card-text"><b>Skillset Required: </b></p>
        <p class="card-text"><b>Job Description: </b></p>
        <p class="card-text"><b>Applications received: </b></p>
        <br />
        <a href="#" class="btn btn-primary d-block">Apply to Job!</a>
    </div>
</div>
</body>
</html>   