<!-- 
 <app-category></app-category>
<app-contact-us></app-contact-us>

<app-about></app-about> -->


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
            <img src="../assets/images/logo.png" width="40px" alt="Job Central"/>
            <b class="nav-link" routerLink="/home">Job Central</b>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" routerLink="/signup">Sign Up</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/settings">Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/verifyEmployer">Verify Employer</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" routerLink="/aboutus">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/contactus">Contact Us</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>

<!-- for footer -->
<app-footer></app-footer>