<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sign Up</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<br />
<br />
<div class="card">
    <h5 class="card-header">Which side are you on?</h5>
    <div class="card-body">
        <a routerLink="/signupjs" class="btn btn-primary">Job Seeker</a>
        <a routerLink="/emp-form" class="btn btn-primary">Employer</a>
    </div>
</div>
<br />
<br />
</body>
</html>