<!DOCTYPE html>
<html lang="en">
<head>
  <title>Job Application Confirmation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<br />
<br />
<div class="card">
    <h5 class="card-header">Your Account Settings</h5>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="userId">Email address</label>
                <input type="email" class="form-control" id="userId" placeholder="Enter your e-mail address">
                <small id="userId" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="passwd">Password</label>
                <input type="password" class="form-control" id="passwd" placeholder="Password">
            </div>
        </form>
        <br />
        <a href="#" class="btn btn-warning d-block">Confirm changes</a>
    </div>
</div>

<br />
<br />

<div class="card">
    <h5 class="card-header">Delete your JobCentral Account</h5>
    <div class="card-body">
        <h6>We'll be sorry to see you go, but it's your choice.</h6>
        <br />
        <a href="#" class="btn btn-danger d-block">Delete my Account</a>
    </div>
</div>

</body>
</html>