<!DOCTYPE html>
<html lang="en">
<head>
  <title>Job Application Confirmation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <br />
    <div class="card">
        <h5 class="card-header bg-warning text-black">Search Results</h5>
        <div class="card-body">                 <!-- Use ngFor here -->
            <!-- start cards -->
            <!-- <div class="row justify-content-center"> -->
            <div class="card">
                <a routerLink="/jobdescription"><h5 class="card-header">Job ID</h5></a>
                <div class="card-body">
                    <p class="card-text">Job Title</p>
                    <p class="card-text">Company</p>
                    <p class="card-text">Job Category</p>
                    <a routerLink="/jobdescription" class="btn btn-outline-primary float-right">Apply</a>
                </div>
            </div> 
            <br />
            <div class="card">
                <a routerLink="/jobdescription"><h5 class="card-header">Job ID</h5></a>
                <div class="card-body">
                    <p class="card-text">Job Title</p>
                    <p class="card-text">Company</p>
                    <p class="card-text">Job Category</p>
                    <a routerLink="/jobdescription" class="btn btn-outline-primary float-right">Apply</a>
                </div>
            </div>
            <br />
            <div class="card">
                <a routerLink="/jobdescription"><h5 class="card-header">Job ID</h5></a>
                <div class="card-body">
                    <p class="card-text">Job Title</p>
                    <p class="card-text">Company</p>
                    <p class="card-text">Job Category</p>
                    <a routerLink="/jobdescription" class="btn btn-outline-primary float-right">Apply</a>
                </div>
            </div>
            <br />
            <div class="card">
                <a routerLink="/jobdescription"><h5 class="card-header">Job ID</h5></a>
                <div class="card-body">
                    <p class="card-text">Job Title</p>
                    <p class="card-text">Company</p>
                    <p class="card-text">Job Category</p>
                    <a routerLink="/jobdescription" class="btn btn-outline-primary float-right">Apply</a>
                </div>
            </div> 
            <br />
        </div>
        <!-- end card -->
    </div>
    <br />
</body>
</html>
            